<main>
    <h1 >nfjdnfjndj</h1>
    <h2>jfkdfk</h2>
    <h3>jfkrmf</h3>
    <hr>
    <div class="display-3">fdjknjkd</div>
    <div class="display-2 text muted">fdjknjkd</div>

    <hr>
    <span class="text muted">Додатковий текст</span>

    <hr>

</main>