<div>
    <main>
        <div class="box">
            <h1 id="user">Hello world</h1>

            <h2>Blabla</h2>

            <button class="button">Good morning</button>

            <p>jfdhsjdsjd
            </p>

           
        </div>

         <div>
                <div>
                     <em>ВКЛАДЕНІСТЬ</em>
                </div>
            </div>
    </main>
</div>