<header class="m-3">
    <div class="card">
        <div class="p-2">
            <strong>
                {{firstName}}
                {{secondName}}
            </strong>

            <b class="position-absolute top-0 end-0 me-2 mt-2">{{projectName}}</b>
        </div>
    </div>
</header>