<div>
                                                {{#with guide}}
                                                <div><h3>{{name}}</h3></div>
                                                <div>{{language}}</div>
                                                <div>{{rating}}</div>
                                                {{/with}}
                                            </div>